:root {
  --max-width: 1200px;
  --tiny-border-radius: 6px;
  --small-border-radius: 10px;
  --border-radius: 12px;

  --kansas-blue: #0051ba;
  --crimson: #e8000d;
  --jayhawk-yellow: #ffc82d;
  --signature-gray: #85898a;
  --steam: #dde5ed;
  --limestone: #d7d2cb;
  --limestone-step-2: #f5f4f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (min-width: 800px) {
  html,
  body {
    font-size: 20px;
  }
}

body {
  color: black;
  background: linear-gradient(to bottom right, transparent, var(--limestone-step-2)) var(--limestone);
}

main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 8px;

  @media (min-width: 400px) {
    padding: 16px;
  }
  
  @media (min-width: 600px) {
    gap: 2rem;
    padding: 24px;
  }
}

main {
  min-height: 95vh;
}

a {
  color: inherit;
  text-decoration: none;

  &[href] {
    color: var(--kansas-blue);
  }
}

h1 {
  font-size: 200%;
  font-weight: 700;
}

h2 {
  font-size: 150%;
  font-weight: 600;
}

ul {
  font-size: 125%;
}
