.items {
  display: grid;
  grid-template-columns: repeat(2, minmax(48%, 1fr));
  column-gap: 4%;
  row-gap: 2vh;
  max-width: 100%;
  width: 60vh;
  min-height: 400px;
  font-size: 12px;

  @media (min-width: 250px) {
    /* --four-across-breakpoint */
    grid-template-columns: repeat(4, minmax(22%, 1fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 4vw;
    aspect-ratio: 1;
    min-height: unset;
    font-size: clamp(7px, 800%, 0.5*min(5vw, 3vh));

    @media (orientation: landscape) {
      font-size: clamp(7px, 800%, 0.5*min(5vw, 4vh));
    }
  }

  @media (min-width: 480px) {
    gap: 1em;
  }

  @media (orientation: landscape) {
    width: 80vh;

    @media (min-height: 600px) {
      column-gap: 1em;
      row-gap: 1em;
    }
  }
}

.group,
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px;
  border-radius: var(--tiny-border-radius);
  font-size: 100%;
  color: black;

  @media (min-width: 300px) {
    border-radius: var(--small-border-radius);
  }

  @media (min-width: 400px) {
    border-radius: var(--border-radius);
  }
}

@keyframes arrive {
  from {
    opacity: 0.25;
  }
}

@keyframes happiness {
  to {
    translate: 0 -100vh;
    opacity: 0;
    display: none;
  }
}

@keyframes sadness {
  25% {
    rotate: 15deg;
    scale: 0.9;
  }

  50% {
    scale: 0.8;
  }

  75% {
    rotate: -15deg;
    scale: 0.9;
  }
}

.group {
  grid-column-end: span 2;

  @media (min-width: 250px) {
    /* --four-across-breakpoint */
    grid-column-end: span 4;
  }

  @media not prefers-reduced-motion {
    animation: 3s arrive;
  }

  &.group-0 {
    background-color: var(--signature-gray);
  }

  &.group-1 {
    background-color: var(--jayhawk-yellow);
  }

  &.group-2 {
    background-color: var(--kansas-blue);
    color: white;
  }

  &.group-3 {
    background-color: var(--crimson);
    color: white;
  }
}

.item {
  border: none;
  background: var(--limestone);
  color: black;
  transition: background 500ms ease-in, border 250ms ease-out;

  @media (min-width: 250px) {
    /* --four-across-breakpoint */
    aspect-ratio: 1;
  }

  @media not prefers-reduced-motion {
    animation: 1s arrive;
  }

  &:disabled {
    color: black;
  }

  &.todo {
    border: 1px solid black;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: #ffffff80;
        border-color: white;

        &.active {
          background: var(--steam);
        }
      }
    }
  }

  &.active {
    background: var(--steam);
  }

  .guessedCorrectly {
    @media not prefers-reduced-motion {
      animation: 2s happiness;
    }
  }

  .guessedIncorrectly {
    @media not prefers-reduced-motion {
      animation: 1s sadness;
    }
  }
}

.connection {
  font-weight: 700;
}

.strikes {
  font-size: 200%;

  @media (min-width: 300px) {
    font-size: 300%;
  }

  @media (min-width: 500px) {
    font-size: 400%;
  }
}