.items {
  display: grid;
  grid-template-columns: repeat(4, minmax(22%, auto));
  column-gap: 4%;
  row-gap: 3rem;
  max-width: 100%;
  width: var(--max-width);
  min-height: 62.5vh;
  height: 600px;
}

.group,
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
}

.group {
  grid-column-end: span 4;

  &.group-0 {
    background-color: var(--signature-gray);
  }

  &.group-1 {
    background-color: var(--jayhawk-yellow);
  }

  &.group-2 {
    background-color: var(--kansas-blue);
    color: white;
  }

  &.group-3 {
    background-color: var(--crimson);
    color: white;
  }
}

.item {
  border: none;
  background: transparent;
  transition: background 400ms, border 200ms;

  &:disabled {
    color: black;
  }

  &.todo {
    border: 1px solid black;
  }

  &.active {
    background: #ffffffa0;
  }
}

@media (hover: hover) and (pointer: fine) {
  .item.todo:hover {
    background: #ffffff80;
    border-color: white;

    &.active {
      background: #ffffffc0;
    }
  }
}

.item,
.connection,
.solvedItems {
  font-size: 150%;
}

.connection {
  font-weight: 700;
}

.strikes {
  font-size: 160%;
}